<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-lg-4">
                <h4>Social Links</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 text-justify">
              <h4>IPPN Links</h4>
              <div class="hline-w"></div>
              <p><a href="http://buddybox.me">BuddyBox</a> | <a href="http://3g3q.co">3G3Q</a> | <a href="http://atoz.audio">A to Z</a> | <a href="http://alloftheabove.audio">All of the Above</a></p>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>Copyright &copy; 2015 P<span class="smallcaps">roblematic</span> Ltd.</p>
          </div>
    </div><! --/container -->
</div><! --/footerwrap -->
